* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* .task-btn{
    opacity: 0.5;
} */

.activity-msg {
    background-color: #F4F7FF;
    padding: 10px;
    border-radius: 8px;
}
