* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* .task-btn{
    opacity: 0.5;
} */

.activity-msg {
    background-color: #F4F7FF;
    padding: 10px;
    border-radius: 8px;
}

@media only screen and (max-width: 464px) {
    .theme-btn {
      display: none;
    }
    .logo-container{
        gap: .5em;
    }
    .logo-container img{
        width: 32px;
    }
    .logo-container h3{
        font-size: 24px;
    }
    .back-to-desk-btn{
        font-size: 14px;
    }
  }